<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <div>
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
              </ul>
          </div>
            <div class="search-bar">
                <form action="{% url 'searchproduct' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="search" required class="form-control" name="productsearch" id="searchproducts" placeholder="Search products">
                        <button type="submit" class="input-group-text"> <i class="fa fa-search"> </i> </button>
                    </div>
                </form>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown" style="list-style: none;">
                        <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user }}
                        </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cart' %}active{% endif %}" aria-current="page" href="{% url 'cart' %}">Cart <i class="fa fa-shopping-cart"></i> ({{total_item}})</a></li>
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}" aria-current="page" href="{% url 'wishlist' %}">Wishlist <i class="fa fa-heart"></i></a></li>
                        <li><a class="dropdown-item {% if request.resolver_match.url_name == 'myorders' %}active{% endif %}" aria-current="page" href="{% url 'myorders' %}">My Orders <i class="fa fa-shopping-bag"></i></a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout <i class="fa fa-sign-out"></i></a></li>
                    </ul>
                    </li>
                {% else %}
                    <li class="nav-item" style="list-style: none;">
                        <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                    </li>
                    /
                    <li class="nav-item" style="list-style: none;">
                        <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>